@import url('https://fonts.googleapis.com/css?family=Cabin:400i');

body {
    font-family: 'Cabin', sans-serif;
}

header {
    text-align: center;
    background-image: url(https://wallpapercave.com/wp/Oigwc5e.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    height: 50vh;
    
}

.main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.player-type {
    padding-left: 30em;
    padding-right: 30em;
    background-color:#002F6C;
}

button {
    border-radius: 10px;
    margin-left: 2em;
    margin-right: 2em
}

button:hover {
    cursor: pointer;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

form h3 {
    margin-right: 2em;
    margin-left: 2em;
}

/* fix this -----> */

.display-player {
    margin-left: 40em;
    margin-right: 40em;
}








